.App {
  text-align: center;
  position: relative;
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 15px;
  margin-right: 4px;
  opacity: 0.9;
}

.menu {
  background: #28598a !important;
}

.App-link {
  color: #61dafb;
}

.home,
.prices,
.contact {
  margin-top: 5em;
}

.prices h1 {
  margin-bottom: 2em;
}
/*
#content-wrap {
  padding-bottom: 14rem;
}
*/
.ui.segment.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14rem;
  background: #28598a !important;
  margin: 5em 0em 0em;
  padding: 3em 0em;
  .logo-full {
    margin-bottom: 1em;
  }
  a {
    color: #ffffff;
    font-weight: 600;
  }
  a:hover {
    color: #aedfff;
  }
}
